.tabbed_content {
	background-color: #FFFFFF;
	overflow: hidden;
	position: relative;
	top: -8px;
	width: 960px;
	margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
}

.tabs {
	background-color: #00A8D9;
	height: 50px;
	position: relative;
	margin-left: -20px;
	margin-right: -20px;
}

.moving_bg {
	padding: 15px;
	background-color: #222222;
	position: absolute;
	width: 80px;
	z-index: 190;
	left: 0;
	background-position: bottom left;
	background-repeat: no-repeat;
}

.tab_item {
	display: block;
	float: left;
	padding: 15px;
	width: 80px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	z-index: 200;
	position: relative;
	cursor: pointer;
}

.tab_item:hover {
	color: #DDDDDD;
}

.slide_content {
	overflow: hidden;
	background-color: #FFFFFF;
	padding: 20px 0px 20px 20px;
	position: relative;
	width: 960px;
}

.tabslider {
	width: 9000px;
}

.tabslider ul {
	float: left;
	width: 920px;
	margin: 0px;
	padding: 0px;
	margin-right: 40px;
	/*height: 650px;*/
	overflow: auto;
}


.tabslider ul {
	color: #000000;
	text-decoration: none;
}

.login_button {
	float: right;
	display: block;
	padding: 15px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	position: relative;
	cursor: pointer;
}

.login_button:hover {
	color: #DDDDDD;
}