@charset "UTF-8";

/*
Created by jsallans
6-27-2012
PURPOSE: general style rules
*/

/*
Colors according to Kulor test
http://kuler.adobe.com/#themeID/1968810
Light Slate Grey
#F0F0FF
Slate
#37414F
White
#FFFFFF
*/

/* CSS Document */
body {
	/*background: url("../images/go_blue_background.png") no-repeat fixed center top #000000;*/
	background-size:100% 100%;
	background-color: #F0F0FF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.container {

	background-color: #FFFFFF;
	border: 1px solid #37414F;

	-webkit-border-radius: 7px; 
	-moz-border-radius: 7px; /* Firefox 3.6 and earlier */
	border-radius: 7px;

	width: 1000px;
	top: 50px;

	/*centers the div*/
	margin: 0px auto;

	padding: 20px;
}

.shell h3 {

	position: relative;
	top: 25px;
	left: 40px;
	width: 100px;

	margin-top: -10px;
	background-color: #FFFFFF;

	text-align: center;
}

.shell p {

	border: 4px solid #37414F;
	-webkit-border-radius: 13px; 
	-moz-border-radius: 13px; /* Firefox 3.6 and earlier */
	border-radius: 13px;

	padding: 20px 10px 10px 10px;
}