#main
{
	width: 960px;
	margin: 0 auto;
	border: 1px solid black;
}

#topbar
{
	text-align: right;
	margin: 5px;
}

#signinButton
{
	position: relative;
	background-color: #000066;
	color: white;
	text-align: center;
}

#signinButton:hover
{
	cursor: pointer;
}

#signin
{
	display: none;
	margin: 5px;
	padding-top: 15px;
}

#signinDisplay
{
	margin: 5px;
	padding-top: 15px;
}

#header
{
	text-align: center;
	padding: 25px;
	font-size: 24px;
}

#body
{
	min-height: 500px;
}

#video
{
	position: relative;
	float: left;
	text-align: center;
	border: 1px solid black;
	width: 400px;
	height: 300px;
	margin: 25px;
}

#signup
{
	position: relative;
	display: inline;
	float: right;
	border: 1px solid black;
	margin: 25px;
	padding: 10px;
}

#signup input
{
	width: 150px;
}

#signup h3
{
}

#signup td
{
	padding-right: 15px;
}

#errorDiv
{
	color: red;
	padding-bottom: 10px;
	display: none;
}

#footer
{
	text-align: center;
	padding: 10px;
}
