#splashPage
{
	margin: 0 auto;
	background-image: url('images/splash.jpg');
	height: 654px;
	width: 1362px;
}

#splashTopBar
{
	position: relative;
	width: 200px;
	margin: auto;
	top: 5px;
	background-color: white;
	padding: 5px;
}

#splashBottomBar
{
	position: relative;
	width: 150px;
	margin: auto;
	top: 560px;
	background-color: white;
	padding: 5px;
	text-align: center;
}

#splashBottomBar a
{
	text-decoration: none;
	color: black;
}

